<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB LAB | Cargar obra social</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"
        defer></script>
    <link rel="stylesheet" href="../static/style/css/style.css" th:href="@{/style/css/style.css}">
</head>

<body>

    <section id="cargaUs" class="container grid" th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}">

        <!-- ///////////////////////// NAV BAR  ////////////////////////////////////////////////-->
        <header>
            <div th:insert="fragments/navbar-fr"></div>
        </header>

        <div class="header">
            <h2 class="titulo">Cargar <span>Obra social</span></h2>
        </div>

        <div class="content">
            <form method="POST" th:action="@{/admin/carga-os}">
                <div th:if="${error != null}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>
                <div class="row mb-3 g-5">
                    <div class="col">
                        <label for="osNumber" class="form-label">Número</label>
                        <input name="osNumber" type="text" th:value="${osNumber}" class="form-control" id="osNumber"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input name="nombre" type="text" th:value="${nombre}" class="form-control" id="nombre">
                    </div>
                </div>

                <button type="submit" class="boton boton--aceptar">Cargar obra social</button>
            </form>
        </div>

    </section>
</body>

</html>