.login__bg {
    background-color: $blanco;

    .login__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;

        .login__card {
            background-color: white;
            border-radius: 15px;
            min-width: 420px;

            button {
                margin-top: 2rem;
            }
        }
    }
}



