@import "../utils/vars";

/* sass --watch static/style/scss/style.scss static/style/css/style.css */ 
body {
    background-color: $blanco;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.form-label {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    color: #40514e;
}